#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

.search-bar{
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;  
}

.no-result{
  font-size: 20px;
  margin-top: 20px;
  color: gray;
}

.user-card{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlight{
  background-color: gray;
}